.flip-horizontal {
  -moz-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.flip-vertical {
  -moz-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1);
}

.rounded-corners {
  border-radius: 8px;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}
